*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}
body{
background:red;
}

body{
background:#f2f2f2;
}

/* MENU */

.navbar{
background:#0b5fa5;
padding:15px 0;
}

.navbar ul{
list-style:none;
display:flex;
justify-content:center;
gap:40px;
}

.navbar a{
text-decoration:none;
color:white;
font-weight:bold;
font-size:16px;
@@ -89,24 +92,25 @@
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
}

.team-member h4{
margin:10px 0 5px;
}

.team-member p{
color:#555;
}

/* RESPONSIVE (PER TELEFON) */

@media (max-width:768px){

.team-wrapper{
flex-direction:column;
align-items:center;
gap:60px;
}

}
